#channel.active #grupa_arrow {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.bgfull {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  /* z-index: -1; */
}

.topbar {
  z-index: 101;
  position: fixed;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  color: #b3b3b1;
  /*border-top: 2px solid #33B773;*/
}

.playlist-nav-button {
  z-index: 102;
  top: 5px;
  left: 10px;
  position: fixed;
}

#playlist-nav {
  position: absolute;
  top: 10px;
  width: 44px;
  height: 44px;
  z-index: 700;
  border: 0;
  font-size: 28px;
  color: #fff;
  left: 10px;
  opacity: 1;
}

.options-nav-button {
  z-index: 102;
  top: 5px;
  right: 10px;
  position: fixed;
}

#options-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  z-index: 700;
  border: 0;
  font-size: 28px;
  color: #fff;
  opacity: 1;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 !important;
  height: 80px;
}

.sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.chip {
  /*display: inline-table !important;*/
  height: 0 !important;
  /* font-size: 20px; */
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 12px;
  background-color: #e4e4e4;
  width: 100%;
  border-radius: 0 !important;
  margin: 0 !important;
}

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 80%;
  margin-left: 50px;
  background-color: #acece6;
  border-radius: 2px;
  overflow: hidden;
}

#image {
  margin-top: 10px;
  z-index: 0;
  /*height: 47px;
            width: 47px;*/
  float: left;
  display: block;
  max-width: 47px;
  max-height: 47px;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.text-epg {
  margin-left: 50px;
  margin-bottom: 13px;
  margin-top: 10px;
}

#fullepgpointer {
  line-height: 0 !important;
  margin-left: 421px;
  margin-top: -67px;
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  vertical-align: middle;
  z-index: 1;
  overflow: hidden;
}

#channelli {
  height: 60px !important;
  /*visibility: hidden;*/
}

.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  background-color: transparent;
  border-radius: 2px;
  color: #fff;
  min-height: 36px;
  line-height: 120%;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 400px);
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: #323232;
  font-size: 15px;
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
  top: 3%;
}

.toast {
  border-radius: 2px;
  width: auto;
  clear: both;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 25px;
  line-height: 1.5em;
  word-break: keep-all;
  background-color: #eeeeee;
  font-size: 1.1rem;
  font-weight: 500;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toast .btn,
.toast .btn-flat {
  color: #00e676;
  margin: 0;
  margin-left: 3rem;
}
